@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  margin: 0px;
}
body {
  background: #696565b0;
  /* width: 100%; */

  font-family: 'Roboto', sans-serif;
}
.navbar {
  background: #2b163f;
  /* height: 100px; */
  width: 100%;

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 0;
  position: fixed;
  top: 0;
}
.navbar > h1 {
  margin-left: 4%;
  color: #f7b41c;
  font-family: 'Protest Guerrilla', sans-serif;
  /* border: 1px solid red; */
}
.navbar > nav {
  border: 1px solid rgb(241, 179, 9);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: #f7b41c;
  font-size: 20px;
}

.navbar > nav a {
  border: 2px solid white;
  padding-left: 10px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.navbar > nav a:hover {
  background: #16dd30bd;
  padding: 8px 12px;
  color: white;
  border-radius: 40%;
}
nav > a i {
  background: #509e3f;
  font-size: 29px;
  border-radius: 10px;
  color: #f7b41c;
}
nav > a i:hover {
  background: #f7b41c;
  font-size: 29px;
  border-radius: 10px;
  color: #509e3f;
}
.form {
  /* background: white; */
  width: 100%;
  height: 100 vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  flex: auto;
}
.form form {
  text-align: center;
  padding-top: 10px;

  background: white;
  height: 200px;
  width: 60%;
}
form input {
  width: 500px;
}
.enter {
  background: #509e3f;
  width: 70px;
  height: 40px;
  margin-top: 11px;
  margin-right: 0px;
}
