* {
  box-sizing: border-box;
}
body {
  background: #696565b0;
  width: 100%;
  height: 100wh;
  margin-top: 0;
  margin-left: 0px;
  font-family: 'Roboto', sans-serif;
}
.navbar {
  border: 2px solid green;
  height: 100px;
  width: 100%;
  margin-bottom: 0;
  background-color: #2b163f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  position: fixed;
  top: 0px;
}
.navbar > h1 {
  border: 2px solid blue;
  margin-left: 4%;
  color: #f7b41c;
  font-family: 'Protest Guerrilla', sans-serif;
}
.navbar > .links {
  border: 2px solid black;
  width: 40%;
  margin-right: 4%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.links > a {
  border: 2px solid red;
  color: white;
  padding-left: 10px;
  margin-left: 10px;
}
.container {
  border: 2px solid red;
  height: 600px;
  width: 100vw;
  padding-top: 140px;
  display: grid;
  grid-template: 20px 60px 20px 60px 20px 60px /20% 40% 40%;
}
.container > .main {
  background-color: greenyellow;
  grid-row: 1/-1;
  grid-column: 1/2;
}
.container > .produc1 {
  background-color: aquamarine;
  grid-row: 1/2;
  grid-column: 2 / span 2;
}
.container > .produc2 {
  background-color: rgb(19, 10, 37);
  grid-row: 3/4;
  grid-column: 2 / span 2;
}

.container > .produc3 {
  background-color: rgb(157, 34, 228);
  grid-row: 5/6;
  grid-column: 2 / span 2;
}

.container > .caixa1 {
  background-color: chartreuse;
  grid-row: 2/3;
  grid-column: 2/3;
}
.container > .caixa2 {
  background-color: #46022c;
  grid-row: 2/3;
  grid-column: 3/4;
}
.container > .caixa3 {
  background-color: #c7c40f;
  grid-row: 4/5;
  grid-column: 2/3;
}
.container > .caixa4 {
  background-color: #c0658852;
  grid-row: 4/5;
  grid-column: 3/4;
}
.container > .caixa5 {
  background-color: #c7770f;
  grid-row: 6/7;
  grid-column: 2/3;
}
.container > .caixa6 {
  background-color: #0fc718;
  grid-row: 6/7;
  grid-column: 3/4;
}
